 h1 {
   color: red;
   font-family: sans-serif;
   border-bottom: 1px solid blue;
 }

 blockquote {
   background-color: lightgray;
   padding: 1rem;
 }

 #logo {
   width: 20%;
 }

 body {
   display: inline;
   font-family: sans-serif;
 }

 h2 {
   color: orange;
 }

 p {
   margin-left: 100px;
 }

 .side {
   float: right;
 }

 img.side {
   margin: 0 12px;
 }

 h1, h2 {
   font-family: 'Cute Font', cursive, verdana, sans-serif;
 }
