h2 {
  border-bottom: solid 2px;
  border-color: red;
}

figure {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

figure img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

header, main, footer {
  width: 90%;;
}
